*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body {
    background: #ee9ca7; /* fallback for old browsers */
    background: linear-gradient(to right, #9cecfb, #e1c7fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background: rgba(255, 255, 255, 0.22);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border-radius: 5px;
}

span{
    display: block;
    text-align: center;
    font-size: 100px;
}

p{
    font-size: 25px;
    color: black;
    font-weight: 800;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    opacity: 0;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.fade{
    opacity: 1;
    transition: opacity 1.6s;
}

button{
    display: block;
    background-color: #c39af1;
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #171721;
    font-weight: 700;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    transition: all linear .15s;
}

button:hover{
    background-color: #614a7c;
    color: white;
}

h4{
    color: #000000;
    font-size: 18px;
    text-align: center;
}